<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                               http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginStaticFilter</filter-name>
        <filter-class>filter.LoginStaticFilter</filter-class>
    </filter>
    <filter>
        <filter-name>MemberAuthStaticFilter</filter-name>
        <filter-class>filter.MemberAuthStaticFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminAuthStaticFilter</filter-name>
        <filter-class>filter.AdminAuthStaticFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginDynamicFilter</filter-name>
        <filter-class>filter.LoginDynamicFilter</filter-class>
    </filter>
    <filter>
        <filter-name>MemberAuthDynamicFilter</filter-name>
        <filter-class>filter.MemberAuthDynamicFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminAuthDynamicFilter</filter-name>
        <filter-class>filter.AdminAuthDynamicFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginStaticFilter</filter-name>
        <url-pattern>/userinformation.jsp</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginStaticFilter</filter-name>
        <url-pattern>/productform.jsp</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginStaticFilter</filter-name>
        <url-pattern>/changepassword.jsp</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginStaticFilter</filter-name>
        <url-pattern>/categoryform.jsp</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginStaticFilter</filter-name>
        <url-pattern>/cart.jsp</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MemberAuthStaticFilter</filter-name>
        <url-pattern>/changepassword.jsp</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAuthStaticFilter</filter-name>
        <url-pattern>/productform.jsp</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAuthStaticFilter</filter-name>
        <url-pattern>/categoryform.jsp</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginDynamicFilter</filter-name>
        <url-pattern>/UserController</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginDynamicFilter</filter-name>
        <url-pattern>/ProductController</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginDynamicFilter</filter-name>
        <url-pattern>/OrderItemController</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginDynamicFilter</filter-name>
        <url-pattern>/OrderController</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginDynamicFilter</filter-name>
        <url-pattern>/CategoryController</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MemberAuthDynamicFilter</filter-name>
        <url-pattern>/UserController</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MemberAuthDynamicFilter</filter-name>
        <url-pattern>/OrderItemController</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MemberAuthDynamicFilter</filter-name>
        <url-pattern>/OrderController</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAuthDynamicFilter</filter-name>
        <url-pattern>/ProductController</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAuthDynamicFilter</filter-name>
        <url-pattern>/OrderController</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminAuthDynamicFilter</filter-name>
        <url-pattern>/CategoryController</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
